.day-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #1a1a1a;
  }
  
  .day-content {
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .text-right h1,
  .text-left h1 {
    margin-top: 25px;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .text-left p {
    font-size: 1.1rem;
    color: #444;
  }
  
  .image-block {
    margin-top: 20px;
  }
  
  .image-block img {
    max-width: 80%;
    height: auto;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .image-block img:hover {
    transform: scale(1.24); 
  }
  
  .image-description {
    word-wrap: break-word;
    white-space: normal;
    margin-top: 10px;
    font-size: 18px; 
    line-height: 1.5;
    color: #040404; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .day-page {
    animation: fadeIn 0.8s ease-in-out;
  }
  

  @media screen and (max-width: 768px) {
    .day-page {
      padding: 20px 10px;
    }
  
    .text-right h1,
    .text-left h1 {
      font-size: 2rem;
    }
  
    .text-left p {
      font-size: 1rem;
    }
  
    .image-block img {
      max-width: 90%;
      border-radius: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  
    .image-description {
      font-size: 15px;
      line-height: 1.4;
    }
  }
  