
  .image-block img {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover !important; 
    border-radius: 10px;
  }
  
  .image-description {
    display: none !important;
  }
  
  .day-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  @media (min-width: 1025px) {
    .day-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .day-grid {
      grid-template-columns: 1fr;
    }
  }
  