body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding-top: 60px;
    box-sizing: border-box;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px; 
    width: 100%;
    justify-items: center;
    box-sizing: border-box;
}

.tour-day {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s ease;
    height: 500px;
    width: 350px; 
    overflow: hidden;
    background: #f9f9f9;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.tour-day:hover {
    border-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet) 1;
}

.custom-calendar-icon {
    position: relative;
    top: 3.5px;  
    left: -5px;
  }
  

.tour-day h3 {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.tour-image {
    width: 300px;
    height: 300px; 
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.learn-more {
    display: inline-block;
    padding: 12px 18px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background 0.3s ease;
}

.learn-more:hover {
    background: #0056b3;
}

@media (max-width: 900px) {
    .content-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .tour-day {
        width: 350px; 
    }

    .tour-image {
        width: 220px; 
        height: 220px; 
    }
}

@media (max-width: 600px) {
    .content-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .tour-day {
        width: 90%; 
        height: 100%;
    }

    .tour-image {
        width: 250px; 
        height: 250px; 
    }
}
