.custom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #d0cfcf;
  color: #ffffff;
  font-size: 14px;
  border-top: 2px solid #436c60;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #2a2a2a;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #0073e6;
}

.footer-separator {
  margin: 0 10px;
  color: #2a2a2a;
}

.footer-link-name {
  margin-left: 10px;
  font-size: 16px;
  vertical-align: 6px;
}


@media (max-width: 600px) {
  .footer-links {
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
    width: 100%;
  }

  .footer-links a {
    display: inline-block;
    margin: 0 10px; 
    text-align: center;
  }
  
  .footer-link-name {
    display: none;
  }

  .footer-separator {
    display: none;
  }
}
