.header {
  margin-top: 10%;
  text-align: center;
  padding: 0 20px; 
}

.header h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.header-image {
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-radius: 20px;
  display: block; 
  margin: 0 auto;
}

.header p {
  font-size: 1rem;
  color: #0c0c0c;
  margin-top: 20px;
  line-height: 1.6;  
  max-width: 1000px;  
  margin-left: auto;
  margin-right: auto;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.header-image.blur {
  filter: blur(20px);
  transform: scale(1.05);
  opacity: 1;
  z-index: 1;
}

.header-image.full {
  opacity: 0;
  z-index: 2;
  position: relative;
}

.header-image.full.visible {
  opacity: 1;
}

.hidden {
  display: none;
}


@media (max-width: 767px) {
  .header {
    margin-top: 30%;
  }

  .header-image {
    margin-top: 20px;
  }

  .header p {
    margin-top: 30px;
  }

  .header-image:hover {
    transform: scale(1.10) !important;
  }
  
}


.header-image {
  transition: transform 0.3s ease;
  will-change: transform;
}

.header-image:hover {
  transform: scale(1.05);
}

.header-image:active {
  transform: scale(1.05);
}
