@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1d1d1d;
  color: #333;
  background-image: url('./assets/alter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-image: url('./assets/mobile.jpg');
    background-size: cover;
  }
}


body::-webkit-scrollbar {
  display: none;
}

html {
  overflow: auto;
}